{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in listings reversed %}
    {% if item.active %}
    <div class="container-fluid border my-3 py-2">
        <div class="row">
            <div class="col-3">
                <img class= "img-fluid rounded center-block my-auto" style="height: 100%;" src="{{ item.image_url }}" alt="{{ item.title }}"/>
            </div>
            <div class="col-9">
                <div>
                    <a href="{% url 'listings' item.id %}"><h3>{{item.title}}</h3></a>
                </div>
                <div>
                    <h5>
                        Price: ${{ item.price }}
                    </h5>
                </div>
                <div class="my-2">
                    <span>{{item.description}}</span>
                </div>
                <div>
                    <span>Category: {{item.category}}</span>
                </div>
                <div>
                    <span>Created on {{item.date_created}}</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}
