{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <h2>Choose Stock</h2>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="stock" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    <br>
    <h2>Stock Price</h2>
    <br>
    <h5>Stock Name: {{name}},   Price: {{price}}</h5>

{% endblock %}
